.header__exel {
  cursor: pointer;

  display: grid;
  grid-template-columns: auto;
  gap: 4px;

  justify-items: center;

  text-decoration: none;

  transition: filter 0.4s ease, opacity 0.4s ease;
}

.header__exel_disabled {
  filter: grayscale(0.5);
  opacity: 0.5;
  cursor: unset;
  pointer-events: none;
}

.header__exel__image {
  margin-left: -6px;
  width: 48px;
  transition: transform 0.2s ease;
}

.header__exel:hover .header__exel__image {
  transform: scale(1.1);
}
