.header {
  margin-left: 8px;
  margin-right: 8px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  gap: 48px;
}
@media (max-width: 680px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    justify-items: start;
  }
}

.header__text {
  display: grid;
  grid-template-columns: auto;
  gap: 16px;
}

.header__headline {
  font-size: 32px;
  line-height: 36px;
}

.header__caption {
  margin-left: 4px;
  margin-right: 4px;
  transition: opacity 0.2s ease;
}
.header__caption_hidden {
  opacity: 0;
}
